DJANGO_SETTINGS_MODULE=config.settings.dev
SECRET_KEY=згенеруйте-ключ-64-символи
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
SITE_URL=https://tuyyo.club
DATABASE_URL=sqlite:///db.sqlite3
# Продакшн (Етап 6/9):
SENTRY_DSN=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
PLAUSIBLE_DOMAIN=tuyyo.club
